<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>用户注册</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/flyglobal.css/">
</head>
<body>
<div class="fly-header layui-bg-black">
    <div class="layui-container"><a class="fly-logo" href="javascript:;"><img src="/img/logo.png"
                                                                              alt="layui"> </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item"><a href="javascript:;"><i class="iconfont icon-chanpin" style="top: 1px;"></i>权限实验</a>
                <dl class="layui-nav-child fly-nav-child">
                    <dd><a href="javascript:;">layuiAdmin</a></dd>
                    <hr>
                    <dd><a href="javascript:;">LayIM</a></dd>
                </dl>
            <li class="layui-nav-item"><a href="javascript:;"><i class="iconfont icon-ui"></i>学习</a></li>
        </ul>
        <ul class="layui-nav fly-nav-user">
            <li class="layui-nav-item"><a class="iconfont icon-touxiang layui-hide-xs" href="/login"></a></li>
            <li class="layui-nav-item"><a href="/login">登入</a></li>
            <li class="layui-nav-item"><a href="/reg">注册</a></li>
            <span class="layui-nav-bar" style="left: 24px; top: 55px; width: 0px; opacity: 0;"></span></ul>
    </div>
</div>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title">
                <li><a href="/login" >登入</a></li>
                <li class="layui-this">注册</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <!-- -&#45;&#45;-->
                        <form method="post">
                            <div class="layui-form-item"><label for="L_email" class="layui-form-label">手机</label>
                                <div class="layui-input-inline"><input type="text" id="L_phone" name="phone" required
                                                                       lay-verify="phone" autocomplete="off"
                                                                       class="layui-input"></div>
                            </div>
                            <div class="layui-form-item"><label for="L_vercode" class="layui-form-label">图形码</label>
                                <div class="layui-input-inline"><input type="text" id="L_imagecode" name="imagecode"
                                                                       required lay-verify="required" autocomplete="off"
                                                                       class="layui-input"></div>
                                <div class="layui-form-mid" style="padding: 0!important;"><img
                                        src="/auth/imagecode?t=1542030265182" class="fly-imagecode"></div>
                            </div>
                            <div class="layui-form-item"><label for="L_vercode" class="layui-form-label">验证码</label>
                                <div class="layui-input-inline"><input type="text" id="L_vercode" name="vercode"
                                                                       required lay-verify="required"
                                                                       placeholder="请输入手机短信验证码" autocomplete="off"
                                                                       class="layui-input"></div>
                                <div class="layui-form-mid" style="padding: 0!important;">
                                    <button type="button" class="layui-btn layui-btn-normal" id="FLY-getvercode">获取验证码
                                    </button>
                                </div>
                            </div>
                            <div class="layui-form-item"><label for="L_username" class="layui-form-label">昵称</label>
                                <div class="layui-input-inline"><input type="text" id="L_username" name="username"
                                                                       required lay-verify="required" autocomplete="off"
                                                                       class="layui-input"></div>
                                <div class="layui-form-mid layui-word-aux">你在社区的名字</div>
                            </div>
                            <div class="layui-form-item"><label for="L_pass" class="layui-form-label">密码</label>
                                <div class="layui-input-inline"><input type="password" id="L_pass" name="pass" required
                                                                       lay-verify="required" autocomplete="off"
                                                                       class="layui-input"></div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item"><label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline"><input type="password" id="L_repass" name="repass"
                                                                       required lay-verify="required" autocomplete="off"
                                                                       class="layui-input"></div>
                            </div>
                            <div class="layui-form-item" style="position: relative; left: -10px; height: 32px;"><input
                                    type="checkbox" name="agreement" lay-skin="primary" title="" checked> <a
                                    href="/instructions/terms.html" target="_blank"
                                    style="position: relative; top: 4px; left: 5px; color: #999;">同意用户服务条款</a></div>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" lay-submit>立即注册</button>
                            </div>
                            <div class="layui-form-item fly-form-app"><span>或者直接使用社交账号快捷注册</span> <a href="/app/qq"
                                                                                                     onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})"
                                                                                                     class="iconfont icon-qq"
                                                                                                     title="QQ登入"></a>
                                <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})"
                                   class="iconfont icon-weibo" title="微博登入"></a></div>
                        </form>
                        <!-- -&#45;&#45;-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fly-footer"><p><a href="javascript:;">敲来福.com</a>
    <p class="fly-union"><span>由来：当幸福来敲门</span></p></div>
<script src="/layui/layui.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
